<form action="/messages/<%= recipient._id %>" method="POST">
  <div class="form-group">
    <label for="sender">FROM</label>
    <input readonly class="form-control-plaintext" type="text" name="sender" id="sender" value="<%= user.username %>"
      placeholder="<%= user.username %>">
  </div>
  <div class="form-group">
    <label for="recipient">TO</label>
    <input readonly class="form-control-plaintext" type="text" name="recipient" id="recipient"
      value="<%= recipient.username %>" placeholder="<%= recipient.username %>">
  </div>
  <div class="form-group">
    <label for="messageBody">MESSAGE</label>
    <input class="form-control" type="text" name="messageBody" id="messageBody" rows="3">
  </div>
  <p class="text-right">
    <input type="text" hidden value="<%= recipient._id %>" name="sendingUser">
    <button id="send-message" class="btn btn-success">SEND</button>
  </p>
</form>